.etiya-button-left {
  margin-left: 90px;
  margin-top: 40px;
}
.etiya-button-right {
  margin-right: 90px;
  margin-top: 40px;

}
table {
  width: 100%;
}

.address-list-ind-val {
}

.address-list-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.address-list-radio-button {
  margin: 5px;
}

.address-temp {
  position: relative;
}

.menu-button {
  position: absolute;
  right: 35px;
  top: 17px;
  rotate: 90deg;
  padding: 0;
  background-color: transparent;
  border: 0px;
  color: orange;
}

.address-content {
  padding: 0 40px 10px 40px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 26px;
}

.address-title {
  padding: 30px 40px 10px 40px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 26px;
}
.address-title-content {
  border-bottom: 1px solid orange;
  padding-bottom: 7px;
}


.dropdown-icon{
  background: transparent;
  border:none;
  color:black;
  font-size:21px;

}

.dropdown-icon,
.dropdown-menu{
  float:right;
  margin-right:5%;
}

.dropdown-menu{
  position: absolute;
    left: 50%;
    right: 0;
    top: 31px;
}

.form-check {
  position: absolute;
  left: 50%;
  bottom: 20px;
  font-size: 1.6rem;
}
