<app-main-layout>
    <etiya-background-template [width]="'122rem'" [height]="'63.1rem'">
      <etiya-button-bar [button4Clicked]="true" ></etiya-button-bar>
      <form [formGroup]="contactMediumForm" (submit)="contactMediumSubmit()">
        <div class="container">
          <div class="row">
            <h1 class="container_title">Contact Medium  <i (click)="showButton()" [class.pen]="showButtons" class="fa-solid fa-pen"></i></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-5 input emailValidationPosition"
          >
            <etiya-input
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              [inputLabel]="'E-Mail'"
              [inputType]="'text'"
              [requiredField]="showButtons"
              formControlName="email"
            >
            </etiya-input>

            <div
              *ngIf="submitted && f['email'].errors"
              class="invalid-feedback requiredFieldForEmail"
            >
              <div *ngIf="f['email'].errors['email']">
                *Email must be a valid
              </div>
            </div>
          </div>
          <div class="col-5">
            <etiya-input
              [inputLabel]="'Home Phone'"
              [inputType]="'text'"
              formControlName="homePhone"
            ></etiya-input>
          </div>
        </div>
        <div class="row">
          <div class="col-5 input">
            <etiya-input
              [inputLabel]="'Mobile Number'"
              [requiredField]="showButtons"
              formControlName="mobilePhone"
            >
            </etiya-input>
          </div>
          <div class="col-5">
            <etiya-input [inputLabel]="'Fax'" formControlName="fax">
            </etiya-input>
          </div>
        </div>
        <div *ngIf="showButtons"
        class="row d-flex justify-content-between">
          <div class="col-2 etiya-button-left">
            <etiya-button
              (click)="hiddenButtons()"
              [buttonColor]="'bg-gray'"
              [buttonText]="'Cancel'"
            ></etiya-button>
          </div>
          <div class="col-2 etiya-button-right">
            <etiya-button

              [buttonType]="'submit'"
              [icon]="'fa-solid fa-chevron-right'"
              [buttonColor]="'bg-orange'"
              [buttonText]="'Next'"
            ></etiya-button>
          </div>
        </div>
      </form>
    </etiya-background-template>
</app-main-layout>

