.bg{
  background-color:#C2CFE0;
  width: fit-content;
  border-radius: 25px;
  margin: auto;

}

.clicked{
  background-color:#F48221 !important;
}

button{
  background-color:#C2CFE0 !important;
  padding: 10px 35px 10px 35px;
}

.btn-secondary{
  border-radius: 25px;
  border-style:none
}

.verticalLine {
  height: 30px;
  border-right: 1px solid grey;
  position: absolute;
  margin-top:2px;
  margin-left:5px;
  margin-right:5px;
}
* {
  font-size: 1.6rem;
  font-weight: 500;
}
