
.etiya-button-left {
  margin-left: 90px;
  margin-top: 20px;
}
.etiya-button-right {
  margin-right: 90px;
  margin-top: 20px;

}
.container_title{
  width: 80%;
  padding: 0 0px 10px 0;
  border-bottom:1px solid rgba(0, 0, 0, 0.15);
  margin:15px 0 15px 90px

}
.input{
  margin-left: 60px;
}

.wrapper {
  filter: blur(1px);
}
.calenderIcon{
  color: orange;
  position: absolute;
  left: 930px;
  top: 325px;
  font-size: 15px;
  z-index: 1;
}


