<app-main-layout>

  <etiya-background-template [width]="'80rem'" [height]="'53.1rem'">

    <form [formGroup]="demographicInfoForm" (submit)="onDemographicInfoSubmit()">
      <div class="container ">
        <div class="row ">
          <h1 class="container_title">Demographic Info</h1>
        </div>
        <div class="row">
          <div class="col-5 input">
            <etiya-input
              [inputLabel]="'First Name'"
              [inputType]="'text'"
              [requiredField]="true"
              formControlName="firstName"
            ></etiya-input>
          </div>
          <div class="col-5 " >
            <etiya-input
              [inputLabel]="'Middle Name'"
              [inputType]="'text'"
              formControlName="middleName"
            ></etiya-input>
          </div>
        </div>
        <div class="row">
          <div class="col-5 input">
            <etiya-input
              [inputLabel]="'Last Name'"
              [inputType]="'text'"
              [requiredField]="true"
              formControlName="lastName"
            ></etiya-input>
          </div>
          <div class="col-5">
            <!-- <i class=" calenderIcon fa-regular fa-calendar-days"></i> -->
            <etiya-input
              [inputLabel]="'Birth Date'"
              [inputType]="'date'"
              [requiredField]="true"
              formControlName="birthDate"
            ></etiya-input>
          </div>
        </div>
        <div class="row">
          <div class="col-5 input">
            <etiya-select-option
            formControlName="gender"
            [inputLabel]="'Gender'"
            [requiredField]="true"
            >
            </etiya-select-option>
          </div>
          <div class="col-5">
            <etiya-input
              formControlName="fatherName"
              [inputLabel]="'Father Name'"
              [inputType]="'text'"
            ></etiya-input>
          </div>
        </div>
        <div class="row">
          <div class="col-5 input">
            <etiya-input
              formControlName="motherName"
              [inputLabel]="'Mother Name'"
              [inputType]="'text'"
            ></etiya-input>
          </div>
          <div class="col-5">
            <etiya-input
              formControlName="nationalityId"
              [inputLabel]="'Nationality Id'"
              [inputType]="'text'"
              [requiredField]="true"
            ></etiya-input>
          </div>
        </div>
        <div class="row d-flex justify-content-between">
          <div class="col-2 etiya-button-left">
            <etiya-button
              [routerLink]="'/customer/search'"
              [buttonColor]="'bg-gray'"
              [buttonText]="'Cancel'"
            ></etiya-button>
          </div>
          <div class="col-2 etiya-button-right">
            <etiya-button
              [buttonType]="'submit'"
              [icon]="'fa-solid fa-chevron-right'"
              [buttonColor]="'bg-orange'"
              [buttonText]="'Next'"
            ></etiya-button>
          </div>
        </div>
      </div>
    </form>
  </etiya-background-template>

</app-main-layout>


<!-- if (orderNumber != null) {
  filteredCustomer = filteredCustomer.filter(
    (c) =>
      c.billingAccounts.find(
        (b) => b.orders.find((o) => o.orderNumber == orderNumber) != null
      ) != null
  );
} -->
