<div class="form">
  <div class="select-cont">
    <label class="select"
      >{{ inputLabel }} <span *ngIf="requiredField">*</span></label
    >
    <select
      [disabled]="setDisabled"
      [(ngModel)]="value"
      (ngModelChange)="onChange($event)"
      name="gender"
      id="gender"
    >
    <option value="">Select Gender</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option>
  </select>
  <i class=" checkIcon fa-sharp fa-solid fa-check"  ></i>
  </div>
</div>

