.form {
  margin: 25px;
}
.select-cont {
  position: relative;
  margin-bottom: 15px;
}

label {
  position: absolute;
  top: -16px;
  left: 33px;
  background-color: white;
  padding: 0 5px;
  font-size: 1.6rem;
  color: #999;
}

select {
  width: 100%;
  border: 1px solid #828282;
  border-radius: 49px;
  padding: 10px 20px;
  padding-inline-end: 10px;
  font-size: 1.6rem;
  appearance: none ;
  -webkit-appearance:none;
  -moz-appearance: none;
}

option{
  color: #334D6E;
}
select:focus-visible {
  outline: none;
}

span {
  color: orange;
}
.checkIcon{
  position: absolute;
  top: 20px;
  right: 20px;
  color:orange;
  font-size: 15px;
}


